.digits {
  display: flex;
  align-items: center;
  min-height: auto;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}
