.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  align-self: center;
  text-align: center;
  margin: 0 0 70px;
}

/*
 Добрый день!
Я не могу разобраться с применением свойства min-width вместо width.
С min-width у меня текст расползается на всю ширину родительского блока. Как это исправить? Ставить /br в index.html файле вроде же не грамотно?

В чеклисте указано, чтобы у текстовых блоков не было задано max-height, у меня не задано. Я пробовала добавлять текст в разные текстовые блоки, текст добавляется, верстка не ломается.

Заранее спасибо. */
